{% extends "main/base.html" %}
{% block content %}

        <table id='posts' border=1>
            <th>Автор</th>
            <th>Заголовок</th>
            <th>Текст поста</th>
            <th>Дата создания</th>
            
        {% for post in posts %}
            <tr>
                <td align='center'>{{post.author}}</td>
                <td align='center'> {{post.title}}</td>
                <td align='center'>{{post.text}}</td>
                <td align='center'>{{post.created_date}}</td>
            </tr>
        {% endfor %}
{% endblock content %}